{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<title>Uscite Didattiche - Password Reset</title>
<link rel="shortcut icon" type="image/svg" href="{% static 'img/svg/logomg.svg' %}" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/TornaIndietro.css' %}">
</head>

<body class="d-flex h-100 w-100 bg-black text-white" data-bs-spy="scroll" data-bs-target="#navScroll">

  <div class="h-100 container-fluid">
    <div class="h-100 row d-flex align-items-stretch">

      <div class="col-12 col-md-7 col-lg-6 col-xl-5 d-flex align-items-start flex-column px-vw-5">

        <header class="mb-auto py-vh-2 col-12">
          <a class="navbar-brand pe-md-4 fs-4 col-12 col-md-auto text-center" href="{% url 'homepage' %}">
            <img class="header_titolo" width="60" height="55" viewBox="0 0 400 400"
              src="{% static 'img/svg/logomg.svg' %}"></svg>
            <span class="ms-md-1 mt-1 fw-bolder me-md-5">Uscite Didattiche</span>
          </a>
        </header>

        <div class="TI">
          <a href="{% url 'homepage' %}"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
              fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
              <path
                d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
            </svg>
          </a>
        </div>

        <i class="bi bi-arrow-left-circle-fill"></i>
        <main class="mb-auto col-12">
          <h1>Recupera Password</h1>
          <form class="row" method="post">
            {% csrf_token %}
            <div class="col-12">
              <div class="mb-3">

                <div type="email" class=" " id="exampleInputEmail1" aria-describedby="emailHelp">
                  {{ form.email|as_crispy_field }} {# Campo email per il reset della password #}</div>
                <div id="emailHelp" class="form-text"></div>
              </div>
              <div class="form-group">
                <button class="btn btn-outline-light" href="#popup1" type="submit">Richiedi reset della Password</button>
              </div>

              <div id="popup1" class="overlay">
                <div class="popup">
                  <h2>Email inviata con successo</h2>
                  <a class="close" href="#">&times;</a>
                  <div class="content">

                  </div>
                </div>
              </div>
          </form>

        </main>
      </div>

      <div class="col-12 col-md-5 col-lg-6 col-xl-7 gradient"></div>

    </div>


    {% endblock content %}