/*Container notifica */
.custom-notification {
    display: block;
    position: absolute;
    right: 100px;
    height: 34px;
}

/*cerchio numero notifiche e numero*/
.custom-notification-number {
    font-size: default; /* grandezza del numero dentro il cerchio */
    cursor: pointer;
    font-family: 'arial';
    height: 30px; /* Grandezza del cerchio*/
    width: 30px; /* Larghezza del cerchio */
    background-color: #d63031;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: relative; /* Lasciare in relativo per poterla spostare con la campanella*/
    top: -10px; /* Su/giu (numero piu alto risultato piu giu, numero piu basso risultato piu su)*/
    left: -10px; /* Destra/sinistra (numero piu alto risultato piu a destra, numero piu basso risultato piu a sinistra) */
    padding: 2px;
    border-style: solid;
    border-width: 2px;
}

/*campanella*/
.custom-notification-icon{
    margin-left: 150px;
    position: relative;
    top: -45px;
   
}

.fas {
    font-size: 25pt;
    cursor: pointer;
}

/*campanella quando premuta*/
.fas:hover {
    color: red;
}
.custom-notification-box {
    width: 300px;
    height: 0px;
    z-index: 1;
    display: none;
    border-radius: 10px;
    position: absolute;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
    cursor: context-menu;
    transition: 1s opacity, 250ms height;
}

.custom-notification-box-item{
    opacity: 0.7;
    text-align: center;
    padding:15px 3px;
    cursor: pointer;
    border-bottom: 1px solid grey;
}
/*toglie la linea grigia all'ultimo elemento notifica*/
.custom-notification-box-item:last-child {
    border-bottom: none;
}

.custom-notification-box-item:hover{
    opacity: 1;
}
