/*ALL CALENDAR NEEDED*/
#content-main {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 70px;
}
th.month{
    font-size: 50px;
}

#calendarDiv {
    width: 60%;
}

table.month {
    width:90%;
    height: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

table.month tr{
    height: 80px;
}

table.month td{
    cursor: pointer;
}

table.month th, table.month td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    vertical-align: top;
}

table.month th {
    background-color: black;
}

table.month td a {
    display: block;
    text-decoration: none;
    color: white;
}

.object-tools {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 10px;
    padding-left: 0;
}

.object-tools li {
    list-style: none;
}

.object-tools a {
    text-decoration: none;
    color: #007bff;
}

.object-tools a:hover {
    text-decoration: underline;
}

table.month td.noday{
    cursor: not-allowed;
}