<!-- ALL CALENDAR NEEDED -->
{% extends "gite/index.html" %}
{% block content %}
<div id="content-main">
    <div id="calendarDiv">
        <ul class="object-tools">
            <li>
                <a href="{{ previous_month }}">
                    Previous month
                </a>
            </li>
            <li>
                <a href="{{ next_month }}">
                    Next month
                </a>
            </li>
        </ul>
        {{ calendar|safe }}
    </div>
    <div id="eventDiv">
        ciao
    </div>
</div>
{% endblock %}
