{% extends "gite/index.html" %}
{% load static %}


{% block content %}

<!-- days sourced from: https://nationaldaycalendar.com/february/ -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo&family=Roboto:wght@900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/calendario.css' %}">


<div id="title" class="center">
	<h1>FEB 2022</h1>
	<p>Holidays and Daily Observances in the United States</a>
</div>

<div class="calendar-frame center">
	<div class="day-frame placeholder"></div>
	<div class="day-frame placeholder"></div>
	
{% for gita in object_list %}
	<a class="day-frame center real" id='one' href = "{% url 'gite-detail' gita.id %}">
		<h2 class="day-number">{{ gita.Data_ritrovo }}</h2>
		<div class="day-label center">{{ gita.Proposta_Gita.Titolo }}</div>
    </a>
	{% endfor %}

{% endblock content %}