{% extends "gite/index.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">

<title>Uscite Didattiche - Gita</title>

<div class="container" id="gita-detail">
  <h1>{{ gita.Proposta_Gita.Titolo }}</h1>
  <p>Descrizione: {{ gita.Proposta_Gita.Descrizione }}</p>
  <p>Posto: {{ gita.Proposta_Gita.Posto }}</p>
  <p>Data ritrovo: {{ gita.Data_ritrovo }}</p>
  <p>Data rientro: {{ gita.Data_rientro }}</p>
  <p>Luogo ritrovo: {{ gita.Luogo_ritrovo }}</p>
  <p>Luogo rientro: {{ gita.Luogo_rientro }}</p>
  <p>Costo: {{ gita.Proposta_Gita.Costo }} €</p>
  <p>Stato: {{ gita.get_Stato_display }}</p>

  <p>Classi associate:</p>
  <ul>
    {% for classe_gita in gita.classe_gita_set.all %}
      <li>{{ classe_gita.Classe }}</li>
    {% endfor %}
  </ul>

  
  <div>
    <a class="btn btn-outline-light mt-1 mb-1" href="{% url 'gita-update' pk=gita.pk %}">Update</a>
    <a class="btn btn-outline-light mt-1 mb-1" href="{% url 'gita-delete' pk=gita.pk %}">Delete</a>
  </div>

  <!-- Aggiungi qui altri dettagli della proposta se necessario -->

  <a class="btn btn-outline-light mt-1 mb-1" href="{% url 'proposte' %}">Torna alla lista delle gite</a>
</div>
{% endblock %}