{% extends "gite/index.html" %}
{% load static %}
{% block content %}

<title>Uscite Didattiche - Lista gite</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/custom.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/crispyform.css' %}">

<h1 class="mb-3 fw-bolder margini">Gite:</h1>

{% if gite %}
<table class="table table-dark table-hover crispy_table fw-bolder margini">
    <thead>
        <tr>
            <th scope="col">Titolo</th>
            <th scope="col">Autore</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Luogo di ritrovo</th>
            <th scope="col">Luogo di rientro</th>
            <th scope="col">Costo</th>
            <th scope="col">Stato</th>
        </tr>
    </thead>
    <tbody>
        {% for gita in gite %}
        <tr>
            <td><a class="article-title" href="{% url 'gite-detail' gita.id %}">{{ gita.Proposta_Gita.Titolo }}</a></td>
            <td><a href="{% url 'profilo-utente' pk=gita.Proposta_Gita.Creatore.pk %}">{{ gita.Proposta_Gita.Creatore }}</a></td>
            <td>{{ gita.Proposta_Gita.Descrizione }}</td>
            <td>{{ gita.Luogo_ritrovo }}</td>
            <td>{{ gita.Luogo_rientro }}</td>
            <td>{{ gita.Proposta_Gita.Costo }}€</td>
            <td>{{ gita.get_Stato_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-secondary margini">Non ci sono gite disponibili per la tua classe.</p>
{% endif %}

{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">Primo</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Precedente</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-light mb-4" href="?page={{ page_obj.next_page_number }}">Prossimo</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ultimo</a>
    {% endif %}
</div>
{% endif %}

{% endblock content %}
