{% extends "gite/index.html" %}
{% block content %}

<title>Uscite Didattiche</title>

<div class="w-100 overflow-hidden position-relative bg-black text-white" data-aos="fade">
  <div class="position-absolute w-100 h-100 bg-black opacity-75 top-0 start-0"></div>
  <div class="container py-vh-4 position-relative text-center">
    <div class="row d-flex align-items-center justify-content-center py-vh-5">
      <div class="col-12 col-xl-10">
        {% if user.is_authenticated %}
        <!-- Se l'utente ha effettuato il login -->
        <!--<link rel="stylesheet" type="text/css">TOFIX -->


        {% else %}
        <!-- Se l'utente non ha effettuato il login -->
        <span class="h5 text-secondary fw-lighter"><a href="{% url 'login' %}">Accedi</a> o <a
            href="{% url 'register' %}">registrati</a></span>
        {% endif %}
        <h1 class="display-huge mt-3 mb-3 lh-1">Benvenuto!</h1>
      </div>
      <div class="col-12 col-xl-8">
        {% if perms.gite.add_proposta_gita %}
        <p class="lead text-secondary">Proponi la tua gita adesso</p>
        {%else%}
        <p class="lead text-secondary">Visualizza le tue gite!</p>
        {%endif%}
      </div>
      {% if user.is_authenticated %}
      <div class="col-12 text-center">
        {% if perms.gite.add_proposta_gita %}
        <a href="{% url 'proposta-create' %}" class="btn btn-xl btn-light">Crea la tua proposta
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </a>
        {%else%}
        <a href="{% url 'gite' %}" class="btn btn-xl btn-light">Visualizza le gite
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </a>
        {%endif%}
        {% else %}
        <div class="col-12 text-center">
          <a href="{% url 'login' %}" class="btn btn-xl btn-light">Accedi
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
          </a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {% endblock content %}