{% extends 'gite/index.html' %}

{% block content %}
<title>Uscite Didattiche - profile</title>

<div class="media margini">
  <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="max-width: 100%; height: auto;" />
  <div class="media-body">
    <h2 class="account-heading">{{ user.username }}</h2>
    {% if user.first_name %}
    <p class="text-secondary">Nome: {{ user.first_name }}</p>
    {% endif %}
    {% if user.last_name %}
    <p class="text-secondary">Cognome: {{ user.last_name }}</p>
    {% endif %}
    {% if user_classe %}
    <p class="text-secondary">Classe: {{ user_classe.classe.nome }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}