{% extends "gite/index.html" %}

{% block content %}
<div class="container">
  <h1>{{ proposta.Titolo }}</h1>
  <p>Creato da: {{ proposta.Creatore }}</p>
  <p>Data: {% if proposta.Data %}{{ proposta.Data|date:"F d, Y" }}{% else %}N/D{% endif %}</p>
  <p>Descrizione: {{ proposta.Descrizione }}</p>
  <p>Posto: {{ proposta.Posto }}</p>
  <p>Costo: {{ proposta.Costo }} €</p>
  <p>Stato: {{ proposta.get_Stato_display }}</p>

  <div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'proposta-update' %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'proposta-delete' %}">Delete</a>
  </div>

  <!-- Aggiungi qui altri dettagli della proposta se necessario -->

  <a href="{% url 'proposte' %}" class="btn btn-primary">Torna alla lista delle gite</a>
</div>
{% endblock %}