{% extends "gite/index.html" %} {% load crispy_forms_tags %} {% load static %}  {% block content %}
<head>
</head>
<div class="content-section" style="margin-left: 80px; margin-right: 80px">
  <form method="POST" id="propostaForm">
    {% csrf_token %}
    <fieldset class="form-group crispy_font">
      <legend class="nav-link fs-5 crispy_font">Proponi la tua Gita:</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <br />
      <button
        style="margin-left: 20px"
        class="btn btn-outline-light crispy_font"
        type="submit"
      >
        Proponi
      </button>
    </div>
  </form>
</div>
{% if messages %} {% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %} {% endif %} {% endblock content %}
