{% extends "gite/index.html" %}

{% block content %}
  <div class="container">
    <h1>{{ titolo }}</h1>
    <p>Creato da:{{ creatore }}</p>
    <p>Data: {% if data %}{{ data|date:"F d, Y" }}{% else %}N/D{% endif %}</p>
    <p>Descrizione: {{ descrizione }}</p>
    <p>Posto: {{ posto }}</p>
    <p>Costo: €{{ costo }}</p>
    <p>Stato: {{ stato }}</p>

    <!-- Aggiungi qui altri dettagli della proposta se necessario -->

    <!-- Se ci sono azioni aggiuntive, ad esempio modifica o cancella, possono essere aggiunte qui -->

    <a href="{% url 'proposte' %}" class="btn btn-primary">Torna alla lista delle gite</a>
  </div>
{% endblock %}
