body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #1e2124;
}

.custom-container {
  display: flex;
  position: fixed;
  width: px;
  z-index: 1000;
  left: 0;
  top: 0;
  border-right: 1px solid #162636;
  height: 100%;
}

.custom-toggle-btn {
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: none;
  display: block;
  /* Aggiunto display:flex per abilitare il flexbox */
  height: 40px;
  width: 40px;
  transition: transform 0.5s; 
}

/* Funzione per rotare l'icona della sidebar quando premuto */
.custom-toggle-btn.rotate {
  transform: rotate(180deg); 
}

.custom-sidebar {
  width: 0;
  height: 100%;
  background-color: #424549;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.custom-sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

.custom-sidebar a:hover {
  color: #ffffff;
}

.custom-content {
  flex: 1;
  padding: 0px;
  background-color: #1e2124;
}

.custom-center {

  text-align: center;

}

.custom-serifbianco {
  color: white;
  /* Rende il testo bianco */
  font-weight: bold;
  /* Rende il testo in grassetto */
}


